gunicorn
ulid
bcrypt
redis
Flask
Flask-Alembic
Flask-Redis
Flask-SQLAlchemy
future-fstrings
flask_uwsgi_websocket
flask_redis
gevent
alembic
sqlalchemy

opencv-python
matplotlib
pillow
pytesseract



