<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>

    <style>
        .form-input {
            margin-top: 8px;
            margin-bottom: 8px;
        }


        #Submit {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        #login-error {
            visibility: hidden;
            position: absolute;
        }

    </style>

    {% include "css_common.html" %}
</head>
<body>
<noscript>
    <p>Although login doesn't require Javascript, the creation of accounts does, this is mainly to prevent abuse
    <p>All UKAuth Javscript is open source and Librejs compatible
    <p>All UKAuth resources are self hosted
</noscript>

<div id="fcontainermodal" class="modal active">
<div id="fcontainer" class="active menu">

    {% if passwordsDiffer %}
        <span id="password-error" class="label label-warning">
        Passwords didn't match
        </span>
    {% endif %}

    {% if usernameTaken %}
        <span id="username-error" class="label label-warning">
        Username taken!
        </span>
    {% endif %}

    <form class="form-group" action="/newAccount" method="POST">
        <input type="text" id="Username" name="Username" class="form-input" placeholder="Username" autofocus/>

        <span id="login-error" class="label label-warning">
            Username taken!
        </span>

        <input name="Password1" class="form-input" type="password" placeholder="Password"/>
        <input name="Password2" class="form-input" type="password" placeholder="Confirm password"/>

        <input id="Submit" class="btn btn-primary" type="submit" value="Register"/>
    </form>
</div>
</div>


<script>
    document.getElementById("Username").oninput = function (ev) {
        if(document.getElementById("Username").value.length <= 0)
            return;

        console.log("{{ api_url }}/" + document.getElementById("Username").value);

        fetch("{{ api_url }}/" + document.getElementById("Username").value).then(function (value) {
            return value.json();
        }).then(function (value) {
            let e = document.getElementById("login-error");
            if(value["Exists"]) {
                e.style.position = "unset";
                e.style.visibility = "visible";
            } else {
                e.style.position = "absolute";
                e.style.visibility = "hidden";
            }
        });
    }
</script>

</body>
</html>